<header class="header">
  <div class="wrapper">
    <h1 class="logo-name">
      <a class="logo-link" href="#" title="{{ .name }}" itemprop="name">{{ .name }}</a>
    </h1>
    <h2 class="subtitle">
      {{ .Description }}
    </h2>

    <!-- <a href="img/floor_plan.pdf" target="_blank"> -->
      <h1 class="location-title">
         {{ .Location }}
         </h1>
         <h2 class="tagline">{{ .date }}, {{ .city }}</h2>
    <!-- </a> -->
    <a href="https://ieee-iros.org/" target="_blank" style="outline:none;"><img class="title-logo" src="img/iros2023_logo.svg" alt=""></a>
  </div>
</header>

<hr>
