<h2 class="section-title">{{ .Titles.submission }}</h2>
<p style=margin-bottom:0.5em> All submitted papers will be reviewed on the basis of technical quality, relevance, significance, and clarity. Please submit your papers following the IROS2022 format guidelines. For details see the following links:</p>
<ul class="listing">
    <li> - <a href="http://ras.papercept.net/conferences/support/support.php">Format Guidelines</a></li>
    <li> - <a href="http://ras.papercept.net/conferences/support/tex.php">LaTex Template</a></li>
    <li> - <a href="http://ras.papercept.net/conferences/support/word.php">MS Word Template</a></li>
</ul>
<p>Please send your submission to <a href="mailto:iros2022-pnarude@googlegroups.com">iros2022-pnarude@googlegroups.com</a>. Submitted papers should have 4-6 pages.</p>
